{% extends "base.html" %}

{% set active_page = "about" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/singleteam.css')}}" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="team-area sp">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="{{url_for('static', filename='images/john.jpg')}}" width="400px">
                    </div>
                    <div class="team-content">
                        <h4 style="font-weight: 700;">John McIntyre</h4>
                        <div class="team-social">
                            <a href="#" class="fa fa-linkedin"></a>

                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQG-eR1U1qXfaA/profile-displayphoto-shrink_400_400/0/1624910603938?e=1634774400&v=beta&t=S6GzQH1mKDJ1sSpGHMWj1SgUmaucLu21qWXOuVYjKMo"
                            alt="Member Photo">
                    </div>
                    <div class="team-content">
                        <h4 style="font-weight: 700;">Norman Robinson</h4>
                        <div class="team-social">
                            <a href="https://www.linkedin.com/in/norman-robinson-605794a6/" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGqaVNWWbvRqw/profile-displayphoto-shrink_400_400/0/1551664753851?e=1634774400&v=beta&t=nxwHr7I4Lk-vabWN_HOytKHfnp6W80llmtK46zZr64g"
                            alt="Member Photo">
                    </div>
                    <div class="team-content">
                        <h4 style="font-weight: 700;">Emisael Lopez</h4>
                        <div class="team-social">
                            <a href="https://www.linkedin.com/in/emi-lopez/" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="https://media-exp1.licdn.com/dms/image/D5635AQFxKQKeL5zfdA/profile-framedphoto-shrink_400_400/0/1626983153177?e=1629219600&v=beta&t=3peeY2BJNvpoSinB5UKnhRwircm4V61vox7ebcpR0M0"
                            alt="Member Photo">
                    </div>
                    <div class="team-content">
                        <h4 style="font-weight: 700;">Harrison Kmiec</h4>
                        <div class="team-social">
                            <a href="https://www.linkedin.com/in/harry-kmiec-a6701a89/" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="{{url_for('static', filename='images/rupesh.jpg')}}" width="400px">
                    </div>
                    <div class="team-content">
                        <h4 style="font-weight: 700;">Rupesh Patel</h4>
                        <div class="team-social">
                            <a href="https://www.linkedin.com/in/rupesh-patel-mba-70152526/" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGJ4uPa55dbKA/profile-displayphoto-shrink_400_400/0/1595552818305?e=1634774400&v=beta&t=dT9nrEeV3bWdc8MyEOSSBT4DE1p-z7F0BT63eoutNrI"
                            alt="Member Photo">
                    </div>
                    <div class="team-content">
                        <h4 style="font-weight: 700;">Spencer Fox</h4>
                        <div class="team-social">
                            <a href="https://www.linkedin.com/in/spencer-fox-0506/" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}