{% extends "base.html" %}

{% set active_page = "about" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/singleteam.css')}}" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="team-area sp">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="{{url_for('static', filename='images/john.jpg')}}" width="400px">
                    </div>
                    <div class="team-content">
                        <h4>John McIntyre</h4>
                        <h5>Athletic Trainer</h5>
                        <div class="team-social">
                            <a href="#" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQG-eR1U1qXfaA/profile-displayphoto-shrink_400_400/0/1624910603938?e=1634774400&v=beta&t=S6GzQH1mKDJ1sSpGHMWj1SgUmaucLu21qWXOuVYjKMo"
                            alt="Member Photo">
                    </div>
                    <div class="team-content">
                        <h4>Norman Robinson</h4>
                        <h5>Athletic Trainer</h5>
                        <div class="team-social">
                            <a href="#" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGqaVNWWbvRqw/profile-displayphoto-shrink_400_400/0/1551664753851?e=1634774400&v=beta&t=nxwHr7I4Lk-vabWN_HOytKHfnp6W80llmtK46zZr64g"
                            alt="Member Photo">
                    </div>
                    <div class="team-content">
                        <h4>Emisael Lopez</h4>
                        <h5>Athletic Trainer</h5>
                        <div class="team-social">
                            <a href="#" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Member Photo">
                    </div>
                    <div class="team-content">
                        <h4>Harrison Kmiec</h4>
                        <h5>Athletic Trainer</h5>
                        <div class="team-social">
                            <a href="#" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="{{url_for('static', filename='images/rupesh.jpg')}}" width="400px">
                    </div>
                    <div class="team-content">
                        <h4>Rupesh Patel</h4>
                        <h5>Athletic Trainer</h5>
                        <div class="team-social">
                            <a href="#" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                <div class="inner">
                    <div class="team-img">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGJ4uPa55dbKA/profile-displayphoto-shrink_400_400/0/1595552818305?e=1634774400&v=beta&t=dT9nrEeV3bWdc8MyEOSSBT4DE1p-z7F0BT63eoutNrI"
                            alt="Member Photo">
                    </div>
                    <div class="team-content">
                        <h4>Spencer Fox</h4>
                        <h5>Athletic Trainer</h5>
                        <div class="team-social">
                            <a href="#" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}