{% extends "base.html" %}

{% block content %}

<div class="starter-template">
  <h1>Team Members</h1>
  <div class="col-lg-6">
    <img src="{{url_for('static', filename='images/joshimage.jpg')}}" width="400px">
    <h2>
      Rupesh Patel 
    </h2>
  </div>
    </h2>
    </div>
    <div class="col-lg-6">
    <img src="{{url_for('static', filename='images/joshimage.jpg')}}" width="400px">
    <h2>
      John McIntyre
    </h2>
  </div>
  <div class="col-lg-6">
    <img src="{{url_for('static', filename='images/joshimage.jpg')}}" width="400px">
    <h2>
      Harrison Kmiec
    </h2>
  </div>
  <div class="col-lg-6">
    <img src="{{url_for('static', filename='images/joshimage.jpg')}}" width="400px">
    <h2>
      Norman Robinson
    </h2>
  </div>
  <div class="col-lg-6">
    <img
      src="https://media-exp1.licdn.com/dms/image/C4E03AQGqaVNWWbvRqw/profile-displayphoto-shrink_400_400/0/1551664753851?e=1631750400&v=beta&t=ws7OU-zy0IV7_Oo4N7tkZmGfNuwtbpNGBSXMDPgJF3A">
    <h2>
      Emisael Lopez
    </h2>
    </div>
</div>


{% endblock %}
