{% extends "base.html" %}

{% block content %}
<audio id="ea_audio_div" hidden>
  <source src="{{ url_for('static', filename='audio/eaaudio.mp3') }}" type="audio/mpeg">
</audio>
<div style="margin-top:20px; text-align:center;">
  <a style="text-align:center;" onclick="document.getElementById('ea_audio_div').play();">
    <img style="text-align:center;"
      src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ea/EA_Sports.svg/1200px-EA_Sports.svg.png" width="400px">
  </a>
</div>
<header class="header">
  <h1>It's In The Game!</h1>
</header>
<main>
  <section class="posts">
    <article class="post">
      <p>For this project, we decided to analyze the potential financial success of various gaming genres from EA Sports
        with the financial success being defined using factors such as tournament frequencies, tournament prize pools,
        total viewership/attendance.
      </p>
    </article>
    <article class="post">
      <h3>Our Goal.</h3>
      <p>
      </p>
    </article>
    <article class="post">
      <h3>Libraries & Databases Used.</h3>
      <!-- Page Content -->
      <div class="container">

        <!-- <h1 class="fw-light text-center text-lg-start mt-4 mb-0">D</h1> -->

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-start">

          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://raw.githubusercontent.com/d3/d3-logo/master/d3.png" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Plotly-logo-01-square.png/1200px-Plotly-logo-01-square.png
              " alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src=" https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_640.png
              " alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2560px-Pandas_logo.svg.png
              " alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src=" https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/2560px-Bootstrap_logo.svg.png
              " alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Scikit_learn_logo_small.svg/1200px-Scikit_learn_logo_small.svg.png
              " alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src=" https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Heroku_logo.svg/2560px-Heroku_logo.svg.png
              " alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src=" https://www.freepnglogos.com/uploads/javascript-png/javascript-logo-transparent-logo-javascript-images-3.png
              " alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
            </a>
          </div>
        </div>

      </div>
      

    </article>
  </section>
</main>

{% endblock %}