{% extends "base.html" %}

{% block content %}

<div class="col-lg-6">
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ea/EA_Sports.svg/1200px-EA_Sports.svg.png" width="400px">
</div>
<header class="header">
  <h1>It's In The Game!</h1>
</header>
<main>
    <section class="posts">
      <article class="post">
        <p>For this project, we decided to analyze the potential financial success of various gaming genres from EA Sports with the financial success being defined using factors such as tournament frequencies, tournament prize pools, total viewership/attendance.
        </p>
      </article>
      <article class="post">
        <h3>Our Goal.</h3>
        <p>
        </p>
      </article>
      <article class="post">
        <h3>Libraries & Databases Used.</h3>
        <p>
              * D3.js
              * Plotly
              * HTML
              * Pandas
              * Bootstrap
              * JSon
              * Heroku
              * Webscrapping
              * MongoDB
              * JavaScript
        </p>
      
    </article>
  </section>
</main>

{% endblock %}