{% extends "base.html" %}

{% set active_page = "visualizations" %}

{% block content %}
<div class="row" style="margin-left:-100px;margin-right:-100px;">
    <div class="col-md-4">
        <img style="margin-top: 10px;"  src="{{url_for('static', filename='images/barsubplots.png')}}" width="100%">
    </div>
    <div class="col-md-8">
        <img style="margin-top: -20px;" src="{{url_for('static', filename='images/scatterplot.png')}}" width="100%">
        <img style="margin-top: -20px;" src="{{url_for('static', filename='images/stackedbar.png')}}" width="100%">
    </div>
</div>




{% endblock %}